/** CSS STYLE **/

:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light-coloured: #f5f4f0;
  --main: #fe8a02;
  --dark: #2a2626;
  --primary-dark: #42413c;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  width: 100%;
  margin: 0;

  color: var(--dark);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;

  line-height: 1.6em;

  border: 0;
}

h1,
h2,
h3 {
  font-weight: normal;
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.video-block {
  overflow: hidden;

  background: var(--white);
}

.video-div {
  position: relative;

  z-index: 1;

  max-width: 1100px;

  margin: 0 auto;

  padding-top: 100px;
  padding-bottom: 100px;

  overflow: hidden;
}

header {
  position: relative;

  z-index: 1;

  display: flex;

  overflow: hidden;

  background: var(--light-coloured);
}

.content {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.h1-main {
  color: var(--main);
}

header::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background: url('../img/background.png');

  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: " ";
}

img {
  position: absolute;

  top: 55px;

  left: 270px;

  height: 525px;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 -30px;
  padding-top: inherit;
}

.col {
  flex: 1 1 auto;
  width: calc((100% - 30px) / 2);
  margin: 0 30px;
}

.button {
  padding: 12px 24px 12px 24px;

  color: var(--white);

  background: var(--main);

  border: none;
}

.btn-text {
  font-weight: bold;
  font-size: 16px;
  font-style: normal;
  line-height: 160%;
  text-transform: uppercase;
}

.center-text {
  margin-top: 0;
  margin-bottom: 30px;

  text-align: center;
}

.video {
  margin: 0 auto;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.iframe {
  margin-top: 0;
  margin-bottom: 0;

  text-align: center;
}

.cards-text {
  width: 350px;
  margin-top: 0;
  margin-bottom: 0;

  color: var(--white);

  font-size: 52px;
}

.cards-block {
  position: relative;
  top: -200px;

  z-index: 0;

  padding-top: 200px;
  padding-bottom: 100px;

  overflow: hidden;

  background: var(--primary-dark);
}

.cards-div {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 0 0 0;

  margin: 0 auto;

  overflow: hidden;
}

.card {
  justify-content: space-between;
  width: 302px;
  margin: 0 0 24px 0;
  padding: 24px;

  background: var(--light-coloured);
}

.card:hover {
  background: var(--main);
}

.card:hover h3 {
  color: var(--white);
}

.card:hover h2 {
  color: var(--white);
}

.card:hover p {
  color: var(--white);
}

.cards-h2 {
  margin-top: 0;
  margin-bottom: 40px;

  font-size: 64px;
}

.cards-h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--main);

  font-size: 34px;
}

.cards-p {
  margin-top: 0;
  margin-bottom: 0;
}
