/** CSS STYLE **/
* {
  margin-top: 0;
}

:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light-coloured: #f5f4f0;
  --main: #fe8a02;
  --dark: #2a2626;
  --primary-dark: #42413c;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  width: 100%;
  margin: 0;

  color: var(--dark);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;

  line-height: 1.6em;
}

.border-none {
  border: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.z-index-1 {
  z-index: 1;
}

.uppercase {
  text-transform: uppercase;
}

.center-text {
  text-align: center;
}

.underline-none {
  text-decoration: none;
}

.display-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.inline-block {
  display: inline-block;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 24px;
}

.video-block {

  background: var(--white);
}

.owerflow-hidden {
  overflow: hidden;
}

.video-div {

  z-index: 1;

  max-width: 1110px;

  padding-top: 100px;
  padding-bottom: 100px;
}

header {

  z-index: 1;

  background: var(--light-coloured);
}

.content {
  width: 1110px;
}

.color-orange {

  color: var(--main);
}

header::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background: url('../img/background.png');

  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: " ";
}

.margin-center {
  margin: 0 auto;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

.margin-bottom-201 {
  margin-bottom: 201px;
}

.padding-55-10-55-52 {
  padding: 55px 10px 55px 52px;
}

.padding-43-75-41-115 {
  padding: 43px 75px 41px 105px;
}

.padding-top-100 {
  padding-top: 100px;
}

.padding-bottom-100 {
  padding-bottom: 100px;
}

.hero-img {

  top: 55px;

  right: -270px;

  height: 525px;
}

.row {
  flex-wrap: nowrap;
  margin: 0 -15px;
}

.col {
  flex: 1 1 auto;
  width: calc((100% - 30px) / 2);
  margin: 0 15px;
}

.button {
  padding: 12px 24px 12px 24px;

  color: var(--white);

  background: var(--main);
}

.btn-text {
  font-weight: bold;
  font-size: 16px;
  font-style: normal;
  line-height: 160%;
}

.video {

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.iframe {

  z-index: 1;

  text-align: center;
}

.cards-text {
  width: 350px;

  color: var(--white);

  font-size: 52px;
}

.cards-block {
  z-index: 0;

  margin-top: -200px;

  padding-top: 200px;
  padding-bottom: 100px;

  background: var(--primary-dark);
}

.cards-div {

  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1110px;
}

.card {
  justify-content: space-between;
  width: 302px;
  margin: 0 0 24px 0;
  padding: 24px;

  background: var(--light-coloured);
}

.card:hover {
  background: var(--main);
}

.card:hover h3 {
  color: var(--white);
}

.card:hover h2 {
  color: var(--white);
}

.card:hover p {
  color: var(--white);
}

.cards-h2 {
  margin-bottom: 40px;

  font-size: 64px;
  line-height: 1;
}

.cards-h3 {

  color: var(--main);

  font-size: 34px;
}

.cognitive-directions-light {

  z-index: 1;

  background: var(--light-coloured);
}

.cognitive-directions-light::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background: url('../img/background.png');

  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: " ";
}

.cognitive-directions-dark {

  z-index: 1;

  background: var(--brown);
}

.cognitive-directions-dark::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background: url('../img/background.png');

  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: " ";
}

.cognitive-directions-light-h4 {
  margin-bottom: 0;

  color: var(--translucent-dark);

  font-size: 24px;
}

.cognitive-directions-light-h3 {
  margin-bottom: 0;

  font-size: 34px;
}

.cognitive-directions-dark-h4 {
  margin-bottom: 0;

  color: var(--white);

  font-size: 24px;
}

.cognitive-directions-dark-h2 {
  margin-bottom: 30px;

  color: var(--white);

  font-size: 60px;
}

.cognitive-directions-dark-h3 {
  margin-bottom: 0;

  color: var(--white);

  font-size: 34px;
}

.cognitive-directions-right-img {
  margin-right: 0;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.cognitive-directions-left-img {
  margin-left: 30px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.cognitive-directions-light-line {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 0 0 0 0;

  background: var(--brown);
}

.cognitive-directions-light-p {
  margin-bottom: 0;
  margin-left: 8px;

  color: var(--white);
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.cognitive-directions-light-row {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 -30px;
}

.cognitive-directions-light-col {
  flex: 1 1 auto;
  width: calc((100% - 30px) / 2);
  margin: 0 30px;
}

.cognitive-directions-dark-line {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 0 0 0 0;

  background: var(--white);
}

.cognitive-directions-dark-p {
  margin-bottom: 0;
  margin-left: 8px;

  color: var(--dark);
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.cognitive-directions-dark-row {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 -30px;
}

.cognitive-directions-dark-col {
  flex: 1 1 auto;
  width: calc((100% - 30px) / 2);
  margin: 0 30px;
}

.cognitive-directions-p-light {
  color: var(--white);
}

.ml-30 {
  margin-left: 30px;
}

.ml-4 {
  margin-left: 30px;
}

.width-578 {
  width: 578px;
}

.h2-36 {
  font-size: 36px;
}

.fs-18 {
  font-size: 18px;
}

.footer {

  display: flex;
  flex-wrap: wrap;
  width: 1110px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-row {
  display: flex;
  flex-wrap: nowrap;
  width: 1110px;

  background: var(--primary-dark);
}

.color-white {
  color: var(--white);
}

.footer-input {
  width: 334px;
  height: 31px;

  padding: 10px 44px 9px 16px;

  font-size: 18px;
  font-family: "Open Sans", sans-serif;

  line-height: 160%;
}

.font-size-12 {
  font-size: 12px;
}

.input-button {
  z-index: 0;

  width: 72px;
  height: 50px;

  color: var(--white);

  background: var(--main);
}

.input-row {
  display: flex;
  flex-wrap: nowrap;

  background: var(--primary-dark);
}

.input-button::before {
  position: absolute;
  top: 16px;
  left: 26px;
  z-index: 1;

  width: 20px;
  height: 20px;

  background: url('../img/send.svg');

  background-repeat: no-repeat;
  background-size: cover;

  content: " ";
}

.text-align-center {
  text-align: center;
}

.card a {
  display: block;
  height: 100%;
}

.color-dark {
  color: var(--dark);
}

.width-502 {
  width: 502px;
}
